---
import Header from '../components/Header/header.astro';
import InfoContainer from '../components/InfoContainer/infoContainer.astro'
import Tecnologias from '../components/Tecnologias/tecnologias.astro'
import '../styles/global.css'
import Proyectos from '../components/Proyectos/proyectos.astro'
import Testimonials from '../components/Testimonials/testimonials.astro'
import EmbedLooms from '../components/Looms/embedLooms.astro'
---

<html lang="en" class="bg-bg-black scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/qxr0uet.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fran.dev</title>
	</head>
	<div class="flex flex-col items-center justify-start bg-bg-black min-h-screen p-6 pt-0 text-white">
		<div id="bg" class="z-0 w-full h-full fixed"></div>
		<Header />
		<body>
			{/*Hero section*/}
			<div class="flex w-[1200px] z-10 justify-around px-6 py-8 items-center my-[10vh] mt-[14vh] border-[1px] border-white/5 bg-bg-deep-green rounded-3xl">
				<div class="flex flex-col justify-center items-start">
					<h2 class="text-xl text-primary-green">Carta de presentación para vacante como</h2>
					<br>
					<h1 class="text-6xl font-semibold ">Full-Stack <br>Software Engineer</h1>
				</div>
				<img src="/profile-image.jpeg" alt="foto" class="w-[25%] rounded-3xl">
			</div>
			{/*Personal Info section*/}
			<div id="about" class="flex z-10 flex-col justify-between items-center w-[1200px]">
				<InfoContainer />
			</div>
			{/*Tecnologias*/}
			<div id="tecnologias" class="my-[10vh]">
				<h2 class="text-4xl font-semibold text-center">Tecnologías</h2>
				<br>
				<br>
				<Tecnologias />
			</div>

			{/*Proyectos*/}
			<div id="proyectos" class="z-10">
				<h2 class="text-4xl font-semibold text-center">Proyectos</h2>
				<br>
				<br>
				<Proyectos />
			</div>

			{/*Testimonios*/}
			<div id="testimonios" class="my-[10vh] z-10">
				<h2 class="text-4xl font-semibold text-center">Testimonios</h2>
				<br>
				<br>
				<Testimonials />
			</div>

			{/*Videos*/}
			<div class="z-10">
				<h2 class="text-4xl font-semibold text-center">Videos</h2>
				<br>
				<br>
				<EmbedLooms />
			</div>

			<script type="text/javascript" src="../../lib/particles.min.js"></script>
			<script type="text/javascript" src="../../lib/custom.js"></script>
			<script is:inline src="./node_modules/preline/dist/preline.js"></script>
		</body>		
	</div>
</html>
