---
import InfoContainer from "../components/InfoContainer/infoContainer.astro";
import Tecnologias from "../components/Tecnologias/tecnologias.astro";
import "../styles/global.css";
import Proyectos from "../components/Proyectos/proyectos.astro";
import Testimonials from "../components/Testimonials/testimonials.astro";
import Layout from "../layout/Layout.astro";
import NavBar from "../components/NavBar/navBar.astro";
---

<Layout title="Inicio">
  {/*Hero section*/}
  <div
    class="flex lg:flex-row flex-col lg:w-[1200px] w-full z-10 justify-around px-6 py-8 items-center mb-[10vh] border-[1px] border-white/5 bg-bg-deep-green rounded-3xl"
  >
    <div class="flex flex-col justify-center items-start">
      <h2 class="text-xl text-primary-green">Portafolio personal</h2>
      <br />
      <h1 class="text-6xl font-semibold">Full-Stack <br />Software Engineer</h1>
    </div>
    <img
      src="/profile-image.jpeg"
      alt="foto"
      class="lg:w-[25%] w-full lg:mt-0 mt-10 rounded-3xl"
    />
  </div>
  {/*Personal Info section*/}
  <div
    id="about"
    class="flex z-10 flex-col justify-between items-center lg:w-[1200px] sm:w-auto"
  >
    <InfoContainer />
  </div>
  {/*Tecnologias*/}
  <div id="tecnologias" class="my-[10vh]">
    <h2 class="text-4xl font-semibold text-center">Tecnologías</h2>
    <br />
    <br />
    <Tecnologias />
  </div>

  {/*Proyectos*/}
  <div id="proyectos" class="my-[10vh] z-10">
    <h2 class="text-4xl font-semibold text-center">Proyectos</h2>
    <br />
    <br />
    <Proyectos />
  </div>

  {/*Testimonios*/}
  <div id="testimonios" class="z-10 mb-10">
    <h2 class="text-4xl font-semibold text-center">Testimonios</h2>
    <br />
    <br />
    <Testimonials />
  </div>
</Layout>
