---
import TestimonialCard from "./testimonialCard.astro";
---

<div class="lg:w-[1200px] w-auto grid sm:grid-cols-1 lg:grid-cols-3 gap-6">
      <TestimonialCard 
            person="Dylan Mc Crea"
            body="Fran es el compañero más capaz que tuve en todo rubro de trabajo, su capacidad de resolución de problemas y conciliación en todos los ámbitos no solo me facilitaron el trabajo, sino que también lo volvieron más ameno y cómodo, tiene buenos modos sobre como referirse tanto a clientes como colegas y pares, comprende tanto las necesidades del trabajador sus obligaciones y respeta a rajatabla ambas, su ética de trabajo y valores personales son intachables y su proactividad y productividad se destacan en los retos más desafiantes."
            profession="Asistente Técnico | TC"
            path="/dylan.jpeg"
            title="Un Colega Excepcional en Todos los Aspectos Laborales"
      />
      <TestimonialCard 
            person="Geronimo Palacios"
            body="Durante el tiempo que trabajamos juntos, disfruté mucho de nuestra colaboración. No solo éramos compañeros, sino que también sentí que teníamos una amistad. En momentos difíciles, demostraste ser capaz de mantener la calma, lo que nos permitió avanzar juntos. Siempre mantuviste una comunicación abierta y transparente, incluso en asuntos que no estaban dentro de tu área de responsabilidad. Desde mi perspectiva, te considero una persona completamente confiable y te recomiendo sin ninguna duda."
            profession="Account Manager - Estratega publicitario | TC"
            path="/gero.jpeg"
            title="Un Compañero y Amigo de Confianza en el Mundo Laboral"
      />
      <TestimonialCard 
            person="Mariana Adames"
            body="Desde el principio, tus participaciones siempre me transmitieron calma. Tu personalidad brinda confianza y tranquilidad aunque haya un problema de por medio. Trabajar contigo siempre fue agradable. Tienes muchas virtudes que aportan cosas buenas al equipo, como el hecho de buscar soluciones, tener buen actitud ante todo, esforzarte la milla extra, enseñar con tu ejemplo y ser CERO pesimista o quejoso."
            profession="Business Development Representative"
            path="/mariana.jpeg"
            title="Un Compañero y Amigo de Confianza en el Mundo Laboral"
      />
</div>