---

---
<!-- Features -->
<div class="lg:max-w-[1200px] sm:max-w-lg flex items-center justify-center bg-bg-deep-green  w-full border-[1px] py-4 border-white/10 rounded-3xl z-20 ">
  <!-- Tab Nav -->
  <nav
    class="lg:max-w-6xl max-w-lg lg:w-full w-auto grid lg:grid-cols-3 grid-cols-3 lg:gap-2 gap-0"
    aria-label="Tabs"
    role="tablist"
  >
    <button
      type="button"
      class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700 active"
      id="tabs-with-card-item-1"
      data-hs-tab="#tabs-with-card-1"
      aria-controls="tabs-with-card-1"
      role="tab"
    >
      <span class="md:flex">
        <span class="md:grow md:ml-5">
          <span
            class="hs-tab-active:text-primary-green block font-semibold text-white/60 text-center"
            >Sobre mi</span
          >
        </span>
      </span>

      <button
        type="button"
        class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700"
        id="tabs-with-card-item-2"
        data-hs-tab="#tabs-with-card-2"
        aria-controls="tabs-with-card-2"
        role="tab"
      >
        <span class="md:flex">
          <span class="md:grow md:ml-5">
            <span
              class="hs-tab-active:text-primary-green block font-semibold text-white/60 text-center"
              >¿Por qué sumarme a su equipo?</span
            >
          </span>
        </span>

        <button
          type="button"
          class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700"
          id="tabs-with-card-item-3"
          data-hs-tab="#tabs-with-card-3"
          aria-controls="tabs-with-card-3"
          role="tab"
        >
          <span class="md:flex">
            <span class="md:grow md:ml-5">
              <span
                class="hs-tab-active:text-primary-green block font-semibold text-white/60 text-center"
                >Mi encuentro con la programación</span
              >
            </span>
          </span>
        </button>
      </button>
      <!-- End Tab Nav -->

      <!-- Tab Content -->
      <div class="col-span-3 bg-bg-deep-green border-[1px] border-white/5 rounded-lg w-full lg:px-24 px-4 lg:py-14 py-8 md:mt-0 ">
        <!-- Tab 1 Content -->
        <div
          id="tabs-with-card-1"
          role="tabpanel"
          aria-labelledby="tabs-with-card-item-1"
        >
          <div class="relative">
            <div class="text-center bg-gray-800 rounded-b-lg w-full">
              <p>
                Soy Francisco Brito, un ingeniero de software argentino de 23
                años con una pasión innata por la tecnología y el aprendizaje
                continuo. Me siento motivado por la oportunidad de ayudar a
                otros y seguir creciendo como persona y profesional. Siempre
                estoy dispuesto y entusiasmado por aprender de otros y compartir
                mi conocimiento.
              </p>
            </div>
          </div>
        </div>

        <!-- Tab 2 Content -->
        <div
          id="tabs-with-card-2"
          class="hidden"
          role="tabpanel"
          aria-labelledby="tabs-with-card-item-2"
        >
          <div class="relative">
            <div class="text-center bg-gray-800 rounded-b-lg w-full">
              <p>
                Considero que lo que me distingue es mi perseverancia
                inquebrantable y mi deseo constante de superar mis límites.
                Tengo una capacidad de aprendizaje excepcional que me ha
                permitido adquirir conocimientos en ingeniería de software de
                manera autodidacta, complementados con valiosa experiencia
                laboral. Mi enfoque proactivo y mi habilidad para el analizis y
                resolucion de problemas han sido fundamentales en mi desarrollo.
              </p>
            </div>
          </div>
        </div>

        <!-- Tab 3 Content -->
        <div
          id="tabs-with-card-3"
          class="hidden"
          role="tabpanel"
          aria-labelledby="tabs-with-card-item-3"
        >
          <div class="relative">
            <div class="text-center bg-gray-800 rounded-b-lg w-full">
              <p>
                Mi encuentro con la programación comenzó como un simple hobby. Siempre me interesaron las computadoras y su funcionamiento. Desde pequeño desarmaba y armaba nuevamente todo tipo de aparatos electrónicos, desde radios hasta teléfonos. Hasta que un día empecé a incursionar en el mundo del software, lo cual me apasionó al instante. Con el paso del tiempo empecé a tomarlo más en serio y actualmente es a lo que quiero dedicar mi vida.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Tab Content -->
    </button>
    <!-- End Features -->
  </nav>
</div>
