---
import Card from './cards.astro'
---

<!-- Card Blog -->
<div class="lg:w-[1200px] w-auto mx-auto">
      <!-- Grid -->
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Card -->
        <Card 
          title="Wall-E IA"
          description="Wall-E es una aplicacion que con ayuda de Dall-E genera imagenes a travez de inteligencia artificial." 
          github_link="https://github.com/FranciscoJBrito/client-wall-e"
          view_project="https://wall-e-project.vercel.app"
          path="/wall-e.png"
          finished=true
          tag="Finalizado"
        />
        <!-- End Card -->
        
        <!-- Card -->
        <Card 
          title="Summe IA"
          description="Summe, es una aplicacion que transforma artículos largos en resúmenes claros y concisos." 
          github_link="https://github.com/FranciscoJBrito/summarizer-ai"
          view_project="https://summarizer-ai-ebon.vercel.app/"
          path="/summe.png"
          finished=true
          tag="Finalizado"
        />
        <!-- End Card -->

        <!-- Card -->
        <Card 
          title="Trichter Real Estate"
          description="Trichter RE es un portal inmobiliario destinado para alojar todos los desarrollos disponibles en catálogo." 
          github_link="https://github.com/FranciscoJBrito/"
          view_project="https://realestatetrichter.com/"
          path="/real-estate.png"
          notFinished="true"
          tag="No finalizado"
        />
        <!-- End Card -->

        <!-- Card -->
        <Card 
          title="Project Managment"
          description="Software para gestion de proyectos, con tableros Kanban, metricas y la posibilidad de crear mas de un proyecto a la vez." 
          github_link="https://github.com/FranciscoJBrito/notes-app"
          view_project="/posts/note-app"
          path="/PM-app-banner-blog.png"
          comingSoon="true"
          tag="Próximamente"
        />
        <!-- End Card -->

      </div>
      <!-- End Grid -->
    </div>
    <!-- End Card Blog -->