---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props; 
---

<Layout title={frontmatter.title}>
            <div class="z-30 prose dark:prose-invert max-width prose-green ">
                  <slot />
            </div>
</Layout>